<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert" method="post" enctype="multipart/form-data">
        <label>Name : </label>
        <input type="text" name="name"  placeholder="Enter name ">  <br> <br>

        <label >Subject : </label>
        <input type="text" name="subject"  placeholder="Enter subject ">  <br> <br>

        <select name="city">
            <option hidden>Enter City</option>
            <option value="junagadh">Junagadh</option>
            <option value="surat">Surat</option>
            <option value="navsari">Navsari</option>
            <option value="rajkot">Rajkot</option>
        </select> <br> <br>

        <label for="">Male</label>
        <input type="radio" value="male" name="gender">

        <label for="">Female</label>
        <input type="radio" value="female" name="gender"> <br> <br>

        <h2>Hobby</h2>

        <input type="checkbox" value="singing" name="hobby">
        <label for="">Singing</label>

        <input type="checkbox" value="writing" name="hobby">
        <label for="">writing</label>

        <input type="checkbox" value="reading" name="hobby">
        <label for="">Reading</label> <br> <br>

        <label for="">Image : </label>
        <input type="file" name="image">

       
        

        <input type="submit">

       
    </form>

    <table border="2">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>City</th>
                <th>Gender</th>
                <th>Hobby</th>
                <th>Image</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            <% data.map((e, i) => { %>
                <tr>
                    <td><%= e.name %></td>
                    <td><%= e.subject %></td>
                    <td><%= e.city %></td>
                    <td><%= e.gender %></td>
                    <td><%= e.hobby %></td>
                    <td><img src="/<%=e.image%>" width="20%" alt=""></td>
                    <td>
                        <a href="/edit?Id=<%=e._id%>"><button>Edit</button></a>

                        <a href="/deleteData?id=<%=e.id%>"><button>Delete</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>