<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<style>
    nav{
        display: flex;
      
    }
     .input-container {
        position: relative;
        margin-top: 22px;
        margin-left: 22px;
    }

    .input-container .fa-magnifying-glass {
        position: absolute;
        left: 10px;
        top: 37%;
        transform: translateY(-50%);
        color: gray;
    }

    .input-container input {
        width: 600px;
        height: 30px;
        padding-left: 30px; 
        border: 1px solid rgb(205, 197, 224);
        font-size: 16px;
        margin-top: 4%;
    }

    nav button{
        width: 80px;
        height: 30px;
        background-color: rgb(240, 43, 43);
        color: white;
        margin-left: 15%;
        border: none;
        margin-top: 50px;
        border-radius: 5px;
    }

    nav .iconmenu{
        margin-left: 40px;
        margin-top: 50px;
    }

    .iconmenu i{
       font-size: 30px;
    }

    .navbody{
        background-color: rgb(245,245,245);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(205, 197, 224);;
    }

    .navlinks{
        display: flex;
        gap: 30px;
        padding: 10px;
       
    }
    .navlinks2{
        display: flex;
        gap: 30px;
        padding: 10px;
       
    }
    a{
        text-decoration: none;
        color: rgb(41, 38, 38);
    }
    .part1{
        display: flex;
        justify-content:space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .part1 button{
        width: 80px;
        height: 30px;
        background-color: rgb(240, 43, 43);
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 25px;
    }

    .mainpart{
        background-color: rgb(245,245,245); 
    }

    .image-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.image-cell {
    flex: 0 0 23%; 
    padding: 5px;
    box-sizing: border-box;
}

.movie-image {
    width: 100%;
    height: auto;
    display: block;
}

.button{
    width: 300px;
    height: 30px;
    background-color: rgb(218, 210, 228);
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 5px;
}

#edit{
    background-color: rgb(152, 152, 255);
    border: none;
    width: 100px;
    height: 30px;
}



#del{
    background-color: rgb(243, 61, 61);
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}
 
</style>


<body>
    <nav>
      

        <img src="/imglogo.avif" alt="Book My Show Logo" style="width: 10%;">

        <div class="input-container">
         
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search for Movies,Events ,plays,sports, and Activities">
       </div>

    <button>Sign in</button>
    <div class="iconmenu">
    <i class="fa-solid fa-bars"></i>
   </div>
       
    </nav>

    <div class="navbody">

        <div class="navlinks">
            <a href="">Movies</a>
            <a href="">Streams</a>
            <a href="">Events</a>
            <a href="">Plays</a>
            <a href="">Sports</a>
            <a href="">Activitis</a>
        </div>

        <div class="navlinks2">
            <a href="">ListYourShow</a>
            <a href="">Corporates</a>
            <a href="">Offers</a>
            <a href="">GiftCards</a>

         </div>
      </div>

      <div class="mainpart">
      <div class="part1">
        <h2>Movies</h2>

    <form action="/insert" method="post" enctype="multipart/form-data">

        <label for="">Movie Image:</label>
        <input type="file" name="image" required>

        <label for="">Movie Name:</label>
        <input type="text" name="name" required>
    
        <label for="">Movie Type:</label>
        <input type="text" name="type" required>

        <button type="submit">Add</button>
        

    </form>

   
    </table>
      </div>

      <div class="image-container">
        
            <% data.map((e,i)=>{ %>
                
                <div class="image-cell">
                    <img src="/<%= e.image %>" alt="Movie Image" class="movie-image" width="100">

                   
                    <p><strong>Name:</strong> <%= e.name %></p>
                    <p><strong>Type:</strong> <%= e.type %></p>

                    

                    <div class="button">
                     <a href="/edit?id=<%=e.id%>"><button id="edit">Edit</button></a>
                     <a href="/delete?id=<%=e.id%>"><button id="del">Delete</button></a>
                    </div>
                </div>

            <%  }) %>
        
            
    



    </div>


   
    
</body>
</html>